social_feed.facebook.page_name=""
social_feed.facebook.app_id=""
social_feed.facebook.secret_key=""

social_feed.twitter.consumer_key=""
social_feed.twitter.consumer_secret=""
social_feed.twitter.access_token=""
social_feed.twitter.access_token_secret=""

social_feed.instagram.client_id=""
social_feed.instagram.access_token=""